<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InitStuff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5B268281F0431A300E4C745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5B268401F0431A400E4C745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5B2684B1F0431A500E4C745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
